<div *ngIf="ipDetail">
  <h2> IP Details</h2>
  <div class = "element"><span>Canonical IPv4 Representation: </span> {{ipDetail.canonicalIPv4Representation}}</div>
  <div class = "element"><span>City name: </span>{{ipDetail.cityName}}</div>
  <div class = "element"><span>Country code: </span>{{ipDetail.countryCode}}</div>
  <div class = "element"><span>Country name: </span>{{ipDetail.countryName}}</div>
  <div class = "element"><span>Latitude: </span>{{ipDetail.latitude}}</div>
  <div class = "element"><span>Longitude: </span>{{ipDetail.longitude}}</div>
  <div class = "element"><span>Region name: </span>{{ipDetail.regionName}}</div>
</div>

